
<nav class=" flex justify-around  mx-auto bg-violet-500 p-1 shadow md:flex md:items-center md:justify-between">
  <span class="flex items-center ml-60">
    <img src="assets/images/logo.png " class="h-12 inline" alt="">
  </span>
  <span>

  </span>

  
  <ul class=" md:flex md:items-center z-[-1] md:z-auto md:static absolute 
                 w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px]
                 transitio-all ease-in duration-500">
        <div class="mt-10 text-2xl items-center hidden space-x-8 lg:flex mr-44 nav-item">
            <li class="mx-5 my-6 md:my-0">
                <a routerLink="/home" class="active hover:text-cyan-500 duration-500">HOME</a>
            </li>
            <li class="mx-5 my-6 md:my-0">
                    <a href="#" class=" hover:text-cyan-500 duration-500">ABOUT</a>
            </li>
            <li class="mx-5 my-6 md:my-0">
                    <a href="#" class=" hover:text-cyan-500 duration-500">HOW TO BUY</a>
            </li>
            <li class="mx-5 my-6 md:my-0">
                    <a href="#" class=" hover:text-cyan-500 duration-500">LINK</a>
            </li>
        </div>
      
      <div class="items-center space-x-8  ">
          <div class="ml-10  ">
            <i class="fa-brands fa-telegram text-sm p-1 py-0.5  px-1.5 bg-white rounded-full mb-1 mr-1"></i>
            <i class="fa-brands fa-reddit-alien text-sm p-1 py-0.5 px-1.5 bg-white rounded-full mb-1 mr-1"></i>
            <i class="fa-brands fa-twitter text-sm p-1 py-0.5 px-1.5 bg-white rounded-full mb-1 mr-1"></i>
            <i class="fa-brands fa-instagram text-sm p-1 py-0.5 px-1.5  bg-white rounded-full mb-1 mr-1"></i>
          </div>
            
          <div class="nav-item flex bg-violet-900 text-white duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded-full">
            <img class="h-6 mr-2.5" src="/assets/images/coins.png" alt=""> 
              <button class="text-yellow-300">
                  <a href="#">
                      BUY NOW</a>    
             </button>
          </div>
         </div>
  </ul>
  
  <div class="">
    
   
  </div>
</nav> 



