<nav class="bg-violet-300 p-5 shadow md:flex md:items-center md:justify-between ">
  <div class="container mx-auto flex-wrap flex justify-around ">
    <div class="flex items-center justify-between w-full lg:w-auto ml-60 cursor-pointer nav-bar">

      <a href="#">
        <img src="assets/images/logo.png " class="h-20 inline" alt="">
      </a>
      <button class="inline-flex item-center text-2xl justify-center outline-none focus:outline-none ml-auto
                      "type="button" (click)="sideBar(menu)">
                      <!-- (click)="ToggleMenu"  -->
           <i class="fa-solid fa-bars lg:hidden "></i>
      </button>
    </div>
    <div  class="lg:inline-flex flex-col lg:flex-row justify-center items-center lg:w-auto  lg:mt-0 w-full flex justify-center" #menu
                  >
                  <!-- ngIf="isMenu" -->
      <ul class="lg:flex-row flex  flex-col text-violet-500
                     transitio-all ease-in duration-500 mt-10 font-bold text-xl">
        <div class=" items-center lg:flex mr-44 nav-item">

          <li class="mx-5 my-6 md:my-0">
                  <a routerLink="/home" class="active flex hover:text-cyan-500 hover:bg-violet-900 duration-500  rounded-md px-4 py-2">HOME</a>
          </li>
          <li class="mx-5 my-6 md:my-0">
                  <a href="#" class="flex hover:text-cyan-500 duration-500 hover:bg-violet-900  rounded-md px-4 py-2">ABOUT</a>
          </li>
          <li class="mx-5 my-6 md:my-0">
                  <a href="#" class="flex hover:text-cyan-500 duration-500 hover:bg-violet-900  rounded-md px-4 py-2">HOW TO BUY</a>
          </li>
          <li class="mx-5 my-6 md:my-0">
                  <a href="#" class="flex hover:text-cyan-500 duration-500 hover:bg-violet-900 rounded-md px-4 py-2">LINK</a>
          </li>
        </div>
      </ul>

      <div class="items-center ">
            <div class="ml-10 text-violet-500">
              <i class="fa-brands fa-telegram text-sm p-1 py-0.5  px-1.5 bg-white rounded-full mb-3 mr-1"></i>
              <i class="fa-brands fa-reddit-alien text-sm p-1 py-0.5 px-1.5 bg-white rounded-full mb-3 mr-1"></i>
              <i class="fa-brands fa-twitter text-sm p-1 py-0.5 px-1.5 bg-white rounded-full mb-3 mr-1"></i>
              <i class="fa-brands fa-instagram text-sm p-1 py-0.5 px-1.5  bg-white rounded-full mb-3 mr-1"></i>
            </div>
  
            <div class="nav-item w-40 flex bg-violet-500 border-2 border-white duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded-full">
              <img class="h-6 mr-2.5" src="/assets/images/coins.png" alt="">
                <button class="text-yellow-300 text-2xl">
                    <a href="#">
                        BUY NOW</a>
               </button>
            </div>
           </div>
    </div>
  </div>
</nav>









<!-- mx-auto
lg:hidden text-3xl cusor-pointer md:hiden block  -->

<!--
<nav class="  bg-violet-300 p-1 shadow md:flex md:items-center md:justify-between">
  <div class="container mx-auto flex-wrap flex justify-around">

    <div class="flex justify-between items-center">

      <span class="flex items-center ml-60 cursor-pointer">
        <img src="assets/images/logo.png " class="h-12 inline" alt="">
      </span>
      <button (click)="toggleHamburger()" class="inline-flex item-center justify-center outline-none focus:outline-none ml-auto">
        <i class="fa-solid fa-bars lg:hidden "></i>
      </button>
    </div>

    <div class=" lg:inline-flex lg:w-auto mt-2 lg:mt-0 ">

      <ul class="text-violet-500  md:flex md:items-center z-[-1] md:z-auto md:static absolute
                     w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px]
                     transitio-all ease-in duration-500 lg:flex-row flex  flex-col">
            <div class="mt-10 text-2xl items-center hidden space-x-8 lg:flex mr-44 nav-item">
                <li class="mx-5 my-6 md:my-0">
                    <a routerLink="/home" class="active flex hover:text-cyan-500 hover:bg-violet-900 duration-500  rounded-md px-4 py-2">HOME</a>
                </li>
                <li class="mx-5 my-6 md:my-0">
                        <a href="#" class=" flex hover:text-cyan-500 hover:bg-violet-900 duration-500  rounded-md px-4 py-2">ABOUT</a>
                </li>
                <li class="mx-5 my-6 md:my-0">
                        <a href="#" class=" flex hover:text-cyan-500 hover:bg-violet-900 duration-500  rounded-md px-4 py-2">HOW TO BUY</a>
                </li>
                <li class="mx-5 my-6 md:my-0">
                        <a href="#" class="flex hover:text-cyan-500 hover:bg-violet-900 duration-500  rounded-md px-4 py-2">LINK</a>
                </li>
            </div>

          <div class="items-center space-x-8  ">
              <div class="ml-10  ">
                <i class="fa-brands fa-telegram text-sm p-1 py-0.5  px-1.5 bg-white rounded-full mb-1 mr-1"></i>
                <i class="fa-brands fa-reddit-alien text-sm p-1 py-0.5 px-1.5 bg-white rounded-full mb-1 mr-1"></i>
                <i class="fa-brands fa-twitter text-sm p-1 py-0.5 px-1.5 bg-white rounded-full mb-1 mr-1"></i>
                <i class="fa-brands fa-instagram text-sm p-1 py-0.5 px-1.5  bg-white rounded-full mb-1 mr-1"></i>
              </div>

              <div class="nav-item flex bg-violet-900 text-white duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded-full">
                <img class="h-6 mr-2.5" src="/assets/images/coins.png" alt="">
                  <button class="text-yellow-300">
                      <a href="#">
                          BUY NOW</a>
                 </button>
              </div>
             </div>
      </ul>
    </div>
  </div>

  <div class="">


  </div>
</nav>  -->



