<div class="hero text-center text-2xl p-5">
    <p>welcome to the <br>
        <span>
            sameresr meme coin
        </span>
    </p>
    <div class="flex flex-row min-h-screen justify-center items-center">
        <img class="w-7/12" src="assets/coins.png" alt="">
    </div>
</div>

<div class="flex flex-row min-h-0 justify-center mt-4">
    <img class="h-32"src="assets/logo.png" alt="">
</div>
<div class="text-center">

    <p class="text-center text-2xl mt-3">WHAT IS WIKI CAT?</p>
    <p class="text-center  mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ad <br>
         velit dolorum optio delectus error exercitationem hic iste nostrum veritatis fugit, voluptas nam commodi minus.</p>
</div>

<div class="flex justify-center mt-3">
    <button class="bg-violet-900 text-white duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded-full">
            <a href="#">BUY NOW</a>    
    </button>
    <button class="bg-violet-900 text-white duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded-full">
            <a href="#">BUY NOW</a>    
    </button>
</div>

<div class="bg-rose-400 mt-20">
    <div class="flex justify-center">
            <img class="h-12 relative bottom-6" src="assets/cat-ears.png" alt="">
    </div>
    <div class="flex justify-around">
        <img class="h-80 relative bottom-20 left-48" src="assets/gifs/hat.gif" alt="">
        <p class="mt-10">
            <span class="text-2xl">
            FAIR LAUNCH
            </span>
            <br>
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
            Possimus non esse praesentium id. Eum corporis alias possimus <br>
            assumenda natus animi cumque exercitationem voluptatibus amet incidunt!</p>
    </div>
</div>
<div class="bg-sky-400">
    <div class="flex justify-center">
            <img class="h-12 relative bottom-6" src="assets/cat-ears.png" alt="">
    </div>
    <div class="flex justify-around">
        <p class="mt-10 left-48">
            <span class="text-2xl">
            LIQUIDITY
            </span>
            <br>
             Lorem, ipsum dolor sit amet <br>
              consectetur adipisicing elit. <br>
            Possimus non esse praesentium id. <br>
             Eum corporis alias possimus <br>
            assumenda natus animi cumque exercitationem  <br>
             voluptatibus amet incidunt!
        </p>
        <img class="h-80 relative bottom-20 " src="assets/gifs/chest.gif" alt="">
    </div>
</div>
<div class="bg-green-400  ">
    <div class="flex justify-center">
            <img class="h-12 relative bottom-6" src="assets/cat-ears.png" alt="">
    </div>
    <div class="flex justify-around">
        <img class="h-80 relative bottom-20 left-48" src="assets/gifs/graphic.gif" alt="">
        <p class="mt-10">
            <span class="text-2xl">
            1% SLIPPAGE
            </span>
            <br>
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
            Possimus non esse praesentium id. Eum corporis alias possimus <br>
            assumenda natus animi cumque exercitationem voluptatibus amet incidunt!</p>
    </div>
</div>
<div class="bg-yellow-400">
    <div class="flex justify-center">
            <img class="h-12 relative bottom-6" src="assets/cat-ears.png" alt="">
    </div>
    <div class="flex justify-around">
        <p class="mt-10">
            <span class="text-2xl">
            PROJECT FUND WALLET
            </span>
            <br>
             Lorem, ipsum dolor sit amet <br>
              consectetur adipisicing elit. <br>
            Possimus non esse praesentium id. <br>
             Eum corporis alias possimus <br>
            assumenda natus animi cumque exercitationem  <br>
             voluptatibus amet incidunt!
        </p>
        <img class="h-80 relative bottom-20 " src="assets/gifs/coin.gif" alt="">
    </div>
</div>
<div class="bg-white">
    <div class="flex justify-center">
            <img class="h-12 relative bottom-6" src="assets/cat-ears.png" alt="">
    </div>
    <div class="flex justify-around">
        <p class="mt-10">
            <span class="text-2xl">
            ROAD MAP
            </span>
            <br>
             Lorem, ipsum dolor sit amet <br>
              consectetur adipisicing elit. <br>
            Possimus non esse praesentium id. <br>
             Eum corporis alias possimus <br>
            assumenda natus animi cumque exercitationem  <br>
             voluptatibus amet incidunt!
        </p>
        
        <img class="h-80 relative bottom-20 " src="assets/gifs/chest.gif" alt="">
    </div>
    
    
</div>
<div class=" container flex justify-center mb-16">
    <div class="relative right-24">

        <h3 class="ml-3">
            PHASE 1 <br>
            <img src="assets/logo.png" class="h-16 mt-3" alt=""> <br>
            <span>Lorem ipsum, dolor sit amet consectetur <br>
                 adipisicing elit. Voluptatibus!</span>
        </h3>
    </div>
        <ul>
            <li><i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Lorem ipsum dolor sit amet. </li>
            <li><i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Lorem ipsum dolor sit amet.</li>
            <li><i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Lorem ipsum dolor sit amet.</li>
            <li><i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Lorem ipsum dolor sit amet.</li>
            <li><i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Lorem ipsum dolor sit amet.</li>
            <li><i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Lorem ipsum dolor sit amet.</li>
            <li><i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Lorem ipsum dolor sit amet.</li>
            <li><i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Lorem ipsum dolor sit amet.</li>
            <li><i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Lorem ipsum dolor sit amet.</li>
        </ul>
</div>
<div class="bg-sky-400">
    <div class="flex justify-center">
            <img class="h-12 relative bottom-6" src="assets/cat-ears.png" alt="">
    </div>
    <div class="flex justify-around">
        <img class="h-80 relative bottom-20 left-20" src="assets/gifs/chest.gif" alt="">
        <p class="mt-10 text-2xl">
            FAQ FREQUENTLY ASKED QUESTION <br>
            <!-- <span class="text-sm bg-white border-r-8 border-l-8 p-2 rounded border-transparent">Lorem ipsum dolor sit.</span>
            <span class="text-sm bg-white border-r-8 border-l-8 p-2 rounded border-transparent">Lorem ipsum dolor sit.</span>
            <span class="text-sm bg-white border-r-8 border-l-8 p-2 rounded border-transparent">Lorem ipsum dolor sit.</span>
            <span class="text-sm bg-white border-r-8 border-l-8 p-2 rounded border-transparent">Lorem ipsum dolor sit.</span> -->

        </p>
        <p></p>
    </div>
</div>
<div class="bg-violet-500 container flex justify-center mb-16">
   
        <p>CONTACT</p>
        <img class="h-12" src="assets/logo.png" alt="">
        <p>CHART</p>
    
        
</div>