path {
  fill: transparent;
}

text {
  fill: rgb(253 224 71);
  -webkit-text-fill-color: rgb(253 224 71);
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.hero {
  background-image: url(/assets/images/clouds.png);
  object-fit: cover;
  background-size: cover;
  height: 45rem;
}
.stacked_coins{
  // bottom: -21rem;
  // left:32rem
}
.cat_on_coins{
  // left: -32rem;
  // top: -127px;
  margin-bottom: 237px;
}
.bottom_cloud{
  top: -509px;
}
.svg_text{
  position: relative;
  top: -127px;
  margin-left: 312px;
  font-family: "Alone";
  
}
.svg_text2 {
  position: absolute;
  top: 119px;
  margin-left: 358px;
    font-family: "Alone";
}
.fair_launchs {
  background-image: url(/assets/images/slash_bg.png);
  // object-fit: cover;
  background-size: 873px;
  background-position: right 0px top;
  background-repeat: no-repeat;
  background-position-y: -93px;
}
.fair_launch{
  background-image: url(/assets/images/slash_bg.png);
  // object-fit: cover;
  background-size: 873px;
  background-position: left 0px top;
  background-repeat: no-repeat;
  background-position-y: -93px;
}
.gif{
  height: 25rem;
}
.Faq{
  background-image: url(/assets/images/pattern_bg.png);
  object-fit: cover;
  background-size: cover;
}
.wiki-text{
  font-family: "Alone";
}
.wiki-text-small{
  font-family: "MyriadPro_Bold";
}
.wiki_tail{
  height:38rem
}
.phase_circle{
  position: absolute;
  left: 265px;
  margin-top: 30px;
}
.line_border{
  left: 9.8%;
  margin-top: 131px;
  height: 85rem;
  border: 3px solid #6159B5 ;
}
.border_text{
  writing-mode: vertical-rl
}
.paw{
  left:117px

}
.stroke {
// color: black;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.stroked {
// color: black;
  -webkit-text-fill-color: rgb(139 92 246);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.stroked_cyan {
// color: black;
  -webkit-text-fill-color: rgb(103 232 249);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.stroked_pink {
// color: black;
  -webkit-text-fill-color: rgb(249 168 212);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.stroked_yellow {
  -webkit-text-fill-color: rgb(253 224 71);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.footer_text{
  font-family: "MyriadPro-it";
}

