@media  (max-width: 1440px) {
  
  .paw {
    left: 126px;
  }
    // .phase_circle {
    //   position: absolute;
    //   left: 340px;
    //   margin-top: 30px;
    // }
    // .phase_text{
    //       margin-left: -7rem;
    // }
}
@media  (max-width:1024px) {
  .wiki_tail {
      height: 25rem;
    }
    .phase_circle {
      position: absolute;
      left: 135px;
      margin-top: 30px;
    }
    .paw {
      left: 85px;
    }
    .wiki-text{
          left: 3rem !important;
    }
    .bottom_cloud {
      /* top: 600px; */
      top: -545px;
    }
    .stacked_coins {
      bottom: -32rem;
      left: 21rem;
    }
    .cat_on_coins {
      /* left: -17rem; */
      /* top: -93px; */
      margin-top: 86px;
    }

.nav-bar{
      margin-left: 3rem !important;
}
}
@media (max-width: 768px) {
  .cat_on_coins {
      /* left: -18rem; */
      /* top: -69px; */
      margin-top: 154px;
    }
  .bottom_cloud{
    top: -526px;
  }
.stacked_coins {
  /* bottom: -28rem; */
  /* left: 18rem; */
  margin-top: 40px;
}
.wikicat_logo{
      margin-top: 27rem !important;
}
  .fair_launchs{
    margin-bottom: -107px !important;
    padding-bottom: 135px;
  }
  .fair_launch{
        padding-bottom: 10.25rem !important;
  }
  .features_section{
    margin-bottom: 0rem !important;
  }
  .gif{
    height: 15rem;
    position: initial !important;
    bottom: 0;
  }
  .wiki_roadmap{
    flex-wrap: wrap;
  }
  .wiki_gif{
    position: relative;
    left: 0rem !important;
  };
  .line_border{
    left: 5.8%;
    margin-top: 131px;
    height: 76rem;
    border: 3px solid #6159B5;
  }
  .border_text {
    writing-mode: vertical-rl;
    position:initial;
    left:0rem !important;
  }
  .paw {
    left: 32px;
  }

  .phase_text{
    margin-top: 8rem;
    // margin-left: -12rem !important;
  }
    .phase_circle {
      position: absolute;
      left: 40px;
      margin-top: 30px;
    }
  .roadmap {
    margin-left: 0px;
  }
    .svg_text2 {
      position: relative;
      top: 471px;
    }
}
@media (max-width: 425px) {
  .wiki_tail{
    display: none;
  }
  
  .hat_gif{
    height: 17rem;
  }
  .features_section{
    padding: 60px;
  }

  .features_section_text{
    margin-bottom: 30px;
  }
  .features_section2{
    position: initial;
    bottom: 0;
  }

  .line_border{
    height: 155rem;
  }
  .border_text{
    margin-top: 55px !important;
    writing-mode: vertical-rl;
    position: absolute;
    left: -8px !important;
    font-size: x-large !important;
  }
  .paw{
    left: 10px;
  }
  .roadmap {
    margin-left: 0px !important;
  }
  .phase_text {
    margin-top: 18rem;
    margin-left: 3rem !important;
  }
  .accordion {
    width: 370px !important;
    padding: 30px;
  }
// .bottom_cloud {
//   top: 42rem;
// }
.bottom_cloud {
  top: -28rem;
}
.stacked_coins {
  /* bottom: -28rem; */
  /* left: 18rem; */
  margin-top: 134px;
}
.cat_on_coins {
  /* left: -18rem; */
  /* top: -69px; */
  margin-top: 245px;
}
.wikicat_logo {
  margin-top: 5rem !important;
}


.G1 {
  transform: translate(2px, 98px) rotate(-32deg) !important;
}

.e1 {
  transform: translate(-2px, 86px) rotate(-31deg) !important;
}

.e2 {
  transform: translate(-6px, 78px) rotate(-29deg) !important;
}

.k1 {
  transform: translate(-6px, 69px) rotate(-21deg) !important;
}

.s1 {
  transform: translate(-9px, 59px) rotate(-22deg) !important;
}

.f {
  transform: translate(-13px,
      48px) rotate(-19deg) !important;
}

.o {
  transform: translate(-16px,
      38px) rotate(-22deg) !important;
}

.r {
  transform: translate(-4px, 30px) rotate(-5deg) !important;
}

.G2 {
  transform: translate(-2px, 27px) rotate(-4deg) !important;
}

.e3 {
  transform: translate(17px, 23px) rotate(-3deg) !important;
}

.e4 {
  transform: translate(14px, 21px) rotate(-5deg) !important;
}

.k2 {
  transform: translate(14px, 19px) rotate(-5deg) !important;
}
// smartest
.w1 {
  transform: translate(20px, 106px) rotate(-24deg) !important;

}

.m1 {
  transform: translate(14px, 81px) rotate(-27deg) !important;
}

.a1 {
  transform: translate(13px, 59px) rotate(-21deg) !important;
}

.r1 {
  transform: translate(10px, 46px) rotate(-22deg) !important;
}

.t1 {
  transform: translate(9px, 36px) rotate(-18deg) !important;
}

.cd {
  transform: translate(8px, 26px) rotate(-17deg) !important;
}

.v1 {
  transform: translate(7px, 17px) rotate(-11deg) !important;
}

.x1 {
  transform: translate(8px, 7px) rotate(-15deg) !important;
}
}

@media (max-width: 375px) {
  .roadmap {
    margin-left: 0px;
  }
  .footer_contract {
    margin-right: 0px;
  }

  .footer_chart {
    margin-left: 0px;
  }
  .stacked_coins {
    /* bottom: -28rem; */
    /* left: 18rem; */
    margin-top: 145px;
  }
  .bottom_cloud {
    top: -27rem;
  }
    .cat_on_coins {
      /* left: -18rem; */
      /* top: -69px; */
      margin-top: 256px;
    }
    .wikicat_logo {
      margin-top: 9rem !important;
    }
}
@media (max-width: 320px) {
  .wiki-button{
   
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
   
  }
  .paw {
    left: 5px;
  }
  // .cat_on_coins{
  //   bottom: -9rem;
  //   position: absolute;
  // }
  .features_section {
    padding: 60px;
  }
  .footer_contract{
    margin-right: 0px !important;
  }
  .footer_chart{
    margin-left: 0px !important;
  }
  .footer_link{
    margin-left: 0.25rem;
  }
  .faq_p{
    margin-left: 3rem !important;
  }
    .wikicat_logo {
     margin-top: 9rem !important; 
    }
        .bottom_cloud {
          top: -27rem;
        }
  .stacked_coins {
    // bottom: -53rem;
    // left: 5rem;
    // width: 323px;
    // margin-top: 194px;
  }
    .cat_on_coins {
      // left: -12rem;
      // top: -49px;
      margin-top: 274px;
    }
    .pink_section{
      padding: 35px;
    }
}
