<div class="hero text-center text-2xl pt-20 bg-cyan-300">
  <div class="items-center justify-center flex flex-row hero-text">
    <img src="assets/images/text1.png" class="h-24 hero-text1" alt="" />
    <img
      src="assets/images/text2.png"
      class="h-24 relative right-72 top-20 hero-text2"
      alt=""
    />
  </div>

  <!-- class="relative flex flex-row min-h-screen justify-center items-center my-52" -->
  <div
  class="relative flex flex-row min-h-screen justify-center items-center stacked_coins "
  >
    <img
      class="lg:w-7/12 absolute coins w-full"
      src="assets/images/stacked_coins.png"
      alt=""
    />
    <!-- class="lg:w-7/12 z-10 relative w-full" -->
    <img
     class="lg:w-7/12 z-10 cat_on_coins  w-full "
      src="assets/gifs/01coin.gif"
      alt=""
    />
    <!-- <img class="absolute bottom-5" src="assets/images/cloud.png" alt="" /> -->
  </div>
  <img class="relative bottom_cloud " src="assets/images/cloud.png" alt="" />
</div>

<div class="flex flex-row min-h-0 justify-center mt-80 wikicat_logo">
  <img class="h-32" src="assets/images/logo.png" alt="" />
</div>
<div class="text-center">
  <p class="text-6xl mt-3 stroked_yellow font-bold wiki-text">
    WHAT IS WIKI CAT?
  </p>
  <p class="text-slate-500 font-bold mt-3 wikicat_logo_text">
       Wiki Cat coin is the smartest deflationary meme token everyone should have in their wallet.
        <br>With 100% ownership of the token renounced to a strong and vibrant community, liquidity pool
        <br>locked forever, no "wallet blacklist mechanism" to allow for free trade and cheapest
        <br>buy and sell tax at 1%, we are the safest bet for long and short term investors within the meme category.

  </p>
</div>

<div class="flex justify-center mt-3">
  <div
    class="wiki-button bg-violet-500 flex text-white duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded-full"
  >
    <img class="h-6 mr-2.5" src="/assets/images/coins.png" alt="" />
    <button class="text-yellow-300 wiki-text text-2xl wiki-button">
      <a href="{{links.buy}}" target="_blank"> BUY NOW</a>
    </button>
  </div>
  <div
    class="wiki-button flex bg-sky-400 text-white duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded-full"
  >
    <img class="h-6 mr-2.5" src="/assets/images/telegram_logo.png" alt="" />
    <button class="text-yellow-300 wiki-text text-2xl">
      <a href="{{social.telegram}}" target="_blank"> TELEGRAM</a>
    </button>
  </div>
</div>

<div class="rounded-full absolute border-solid line_border"></div>
<div class="bg-fuchsia-300 mt-20 fair_launchs -mb-16">
  <div class="flex justify-center">
    <img
      class="h-12 relative bottom-10"
      src="assets/images/ears/pink.png"
      alt=""
    />
  </div>
  <div class="container">
    <h1
      class="transform rotate-180 absolute mt-4 left-20 border_text font-bold text-4xl wiki-text"
    >
      FEATURES
    </h1>
    <img src="assets/images/paw.png" class="h-8 absolute mt-5 paw" alt="" />

    <div class="row flex justify-center features_section flex-wrap lg:flex-row">
      <div class="col-6">
        <img
          class="relative bottom-20 hat_gif gif"
          src="assets/gifs/hat.gif"
          alt=""
        />
      </div>
      <div class="col-6 relative left-20 wiki_gif">
        <p class="mt-10"></p>
        <h1 class="text-6xl font-bold text-white wiki-text stroke">
          FAIR LAUNCH
        </h1>
        <p class="font-bold wiki-text-small features_section_text">
          Wiki cat was launch 21<sup>st</sup> march 2022 to everyone <br>everywhere in the world. No early access, pre-mining <br>or token allocation. Everyone had the <br>chance to buy into it right at the start.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bg-sky-300 fair_launch pb-5 bg-left">
  <div class="flex justify-center">
    <img
      class="h-12 relative bottom-10"
      src="assets/images/ears/blue.png"
      alt=""
    />
  </div>
  <div class="container">
    <div class="row flex justify-center flex-wrap -mb-28 pink_section">
      <div class="col-6 wiki_liquidity">
        <p class="mt-10"></p>
        <h1 class="text-6xl font-bold text-white wiki-text stroke">
          LIQUIDITY
        </h1>
        <br />
        <p class="font-bold wiki-text-small">
          Our liquidity pool is currently locked in <br>the ratio of 70:30. 70% will be automatically burned to <br>dead wallet after 2 years never to be recovered and 30% will <br>be used for major project listings and community <br>rewards for holders.
        </p>
      </div>
      <div class="col-6 relative left-44 wiki_gif">
        <img
          class="relative bottom-24 features_section2 gif"
          src="assets/gifs/chest.gif"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="bg-green-300 fair_launchs bg-right-top">
  <div class="flex justify-center">
    <img
      class="h-12 relative bottom-10"
      src="assets/images/ears/green.png"
      alt=""
    />
  </div>
  <div class="container">
    <div
      class="row flex justify-center flex-wrap features_section -mb-20 lg:flex-row"
    >
      <div class="col-6">
        <img
          class="relative bottom-20 gif"
          src="assets/gifs/graphic.gif"
          alt=""
        />
      </div>
      <div class="col-6 relative left-20 wiki_gif">
        <p class="mt-10"></p>
        <h1 class="text-6xl font-bold text-white wiki-text stroke">
          1% SLIPPAGE
        </h1>
        <p class="font-bold text-black wiki-text-small slippage_text">
          The default slippage tolerance <br>
          for wikicat on Pancakeswap is 1% <br>
          but for a smoother trade, It is advised <br>
          to raise the slippage in small increments of 1% to 2%. <br>
          We did it this way to give you the best value for your token.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bg-yellow-200 fair_launch bg-left">
  <div class="flex justify-center">
    <img
      class="h-12 relative bottom-10"
      src="assets/images/ears/yellow.png"
      alt=""
    />
  </div>
  <div class="container">
    <div class="row flex justify-center flex-wrap pink_section">
      <div class="col-6">
        <p class="mt-10"></p>
        <h1 class="text-6xl font-bold text-white wiki-text stroke">
          PROJECT <br />
          FUNDS WALLET
        </h1>
        <p class="font-bold wiki-text-small">
          The 30% in the liquidity pool and <br>the 1% that goes to the team wallet <br>for development, listings and <br>marketing.
        </p>
      </div>
      <div class="col-6 relative left-44 wiki_gif">
        <img
          class="relative bottom-20 features_section2 features_section_text gif"
          src="assets/gifs/coin.gif"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="flex justify-center">
    <img
      class="h-12 relative bottom-10"
      src="assets/images/ears/white.png"
      alt=""
    />
  </div>

  <div class="flex justify-center wiki_roadmap">
    <p class="mt-10">
      <span class="text-6xl ml-60 wiki-text text-violet-500 stroked roadmap">
        ROADMAP
      </span>
    </p>

    <img class="wiki_tail" src="assets/gifs/tail.gif" alt="" />
  </div>
</div>
<div class="container flex justify-center mb-16 -mt-52">
  <div class="">
    <h3
      class="text-7xl -ml-52 text-cyan-300 font-bold wiki-text stroked_cyan phase_text"
    >
      PHASE {{ currentArray + 1 }}
    </h3>

    <div class="flex-wrap">
      <div class="bg-cyan-300 rounded-full phase_circle">
        <img
          *ngIf="phases.length !== currentArray + 1"
          src="assets/images/right_chevron.png"
          class="h-24 mt-3 pt-6 p-9"
          alt=""
          (click)="nextPhase()"
        />
      </div>
      <div class="flex bg-cyan-300 rounded-full phase_circle">
        <img
          *ngIf="currentArray !== 0"
          src="assets/images/left_chevron.png"
          class="h-24 mt-3 p-9 pt-6"
          alt=""
          (click)="previousPhase()"
        />
      </div>
    </div>
  </div>
  <ul class="font-bold wiki-text-small phase_text">
    <li *ngFor="let phase of currentPhase">
      <i class="fa-solid fa-check p-1.5 text-cyan-300 mr-1.5"></i>{{ phase }}
    </li>
  </ul>
</div>
<div class="bg-cyan-300 Faq pb-5 wiki-text">
  <div class="flex justify-center">
    <img
      class="h-12 relative bottom-10"
      src="assets/images/ears/blue_pattern.png"
      alt=""
    />
  </div>
  <div class="container">
    <div class="row flex flex-wrap justify-center">
      <div class="col-6">
        <img class="h-60" src="assets/gifs/blink.gif" alt="" />
      </div>
      <div class="col-6">
        <p class="mt-10 text-7xl stroked_pink font-bold faq_p">
          FAQ
          <span class="text-5xl stroked_yellow font-bold"
            >FREQUENTLY ASKED QUESTION</span
          >
          <br />
        </p>



        <div class="accordion" id="accordionExample">
          <div class="rounded-3xl accordion-item border-2 bg-white p-1 mt-3 wiki-text-small"
            >
            <details class="w-full bg-white rounded-full cursor-pointer mb-2">
              <summary class=" rounded-3xl relative flex justify-between w-full px-5 text-base text-gray-800 text-left bg-white border-0 transition focus:outline-none" >
                What is the Utility/Use Case for Wiki Cat?
                <img
                      src="assets/images/buttom_chevron.png"
                      class="h-6"
                      alt=""
                    />

              </summary>
              <p class="px-4 py-3 rounded-3xl">
                Wiki Cat started out as a token by Sir. Mapy for the SMC community to teach them how to create meme tokens.
                Regardless, we believe the use case for Wiki Cat lies in the strength of its community that believes in
                the social consensus of shared value.
                This is what has taken the likes of Doge and Shiba Inu to billions of dollars in the market value.
              </p>
            </details>


          </div>
          <div class="rounded-3xl accordion-item border-2 bg-white p-1 mt-3 wiki-text-small"
            >
            <details class="w-full bg-white rounded-full cursor-pointer mb-2">
              <summary class=" rounded-3xl outline-transparent relative flex justify-between w-full px-5 text-base text-gray-800 text-left bg-white border-0 transition " >
                Who owns Wiki Cat?
                <img
                      src="assets/images/buttom_chevron.png"
                      class="h-6"
                      alt=""
                    />

              </summary>
              <p class="px-4 py-3 rounded-3xl">
                Wiki Cat ownership has been renounced. <br>
                Ownership is collectively owned by the community. <br>
                There is no CEO, no VC or board members pulling the strings in the background. For this reason, no wallet has more than 5% of the token. Funding or contributions are voluntary and ultimately the community gets to decide the future of the project.
              </p>
            </details>


          </div>
          <!-- <div class="rounded-3xl accordion-item border-2 bg-white p-1 mt-3 wiki-text-small"
            >
            <details class="w-full bg-white rounded-full cursor-pointer mb-3">
              <summary class=" rounded-3xl relative flex justify-between w-full px-5 text-base text-gray-800 text-left bg-white border-0 transition focus:outline-none" >
                Questio 1
                <img
                      src="assets/images/buttom_chevron.png"
                      class="h-6"
                      alt=""
                    />

              </summary>
              <p class="px-4 py-3 rounded-3xl">
              Nunc posuere dapibus urna quis cursus. Mauris malesuada tincidunt diam vel placerat mi tincidunt ac. Nullam augue urna, venenatis ut blandit eget, auctor vel eros. In ut dolor ante
              </p>
            </details>


          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-violet-300 font-bold wiki-text">
  <div class="flex justify-center pt-5 text-white text-2xl">
    <a href="{{links.contract}}" target="_blank" class="mt-10 mr-20 footer_contract">CONTRACT</a>
    <img class="h-24" src="/assets/images/logo.png" alt="" />
    <a href="{{links.chart}}" target="_blank" class="mt-10 ml-20 footer_chart">CHART</a>
  </div>

  <ul
    class="items-center flex flex-row text-2xl justify-center mt-10 text-violet-500 footer_link"
  >
    <li class="mx-5 my-6 md:my-0">
      <a routerLink="/home" class="active hover:text-cyan-500 duration-500"
        >HOME</a
      >
    </li>
    <li class="mx-5 my-6 md:my-0">
      <a href="#" class="hover:text-cyan-500 duration-500">ABOUT</a>
    </li>
    <li class="mx-5 my-6 md:my-0">
      <a href="{{links.buy}}" target="_blank" class="hover:text-cyan-500 duration-500">
        HOW TO BUY
      </a>
    </li>
    <li class="mx-5 my-6 md:my-0">
      <a href="{{links.chart}}" target="_blank" class="hover:text-cyan-500 duration-500">
                LINK
      </a>
    </li>
  </ul>

  <div class="flex flex-row justify-center mt-5 pb-10 text-violet-300">
    <a href="{{social.telegram}}" target="_blank"><i
      class="fa-brands fa-telegram text-base py-1.5 px-2.5 bg-white rounded-full mb-1 mr-5"
    ></i></a>
    <a href="{{social.reddit}}">
      <i
        class="fa-brands fa-reddit-alien text-base py-1.5 px-2.5 bg-white rounded-full mb-1 mr-5"
      ></i>
    </a>
    <a href="{{social.twitter}}">
      <i
        class="fa-brands fa-twitter text-base py-1.5 px-2.5 bg-white rounded-full mb-1 mr-5"
      ></i>
    </a>
    <a href="{{social.instagram}}">
      <i
        class="fa-brands fa-instagram text-base py-1.5 px-2.5 bg-white rounded-full mb-1 mr-5"
      ></i>
    </a>
  </div>
  <p class="text-center text-xl text-black pb-5">
    COPYRIGHT &copy; WIKI CAT TOKEN, ALL RIGHTS RESERVED
  </p>
</div>







