<div class="hero text-center text-2xl pt-20 bg-sky-400">
  <p>
    welcome to the
    <br />
    <span> sameresr meme coin </span>
  </p>
  <div class="flex flex-row min-h-screen justify-center items-center">
    <img class="w-7/12 absolute" src="assets/images/stacked_coins.png" alt="" />
    <img
      class="w-7/12 relative bottom-24"
      src="assets/images/cat_on_coins.png"
      alt=""
    />
  </div>

  <!-- <div class="flex flex-row min-h-screen justify-center items-center">
                
    </div> -->
</div>

<div class="flex flex-row min-h-0 justify-center mt-10">
  <img class="h-32" src="assets/images/logo.png" alt="" />
</div>
<div class="text-center">
  <p class="text-5xl mt-3 stroked_yellow font-bold wiki-text">
    WHAT IS WIKI CAT?
  </p>
  <p class="text-slate-500 font-bold mt-3">
    Wiki Cat is a smart deflationary token forked on the BSC network with 1%
    slippage, total supply of 968T<br />
    100% ownership renounced and Liquidity pool locked forever. 31T Wiki Cat
    Token has been burnt so far.
  </p>
</div>

<div class="flex justify-center mt-3">
  <div
    class="flex bg-violet-900 text-white duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded-full"
  >
    <img class="h-6 mr-2.5" src="/assets/images/coins.png" alt="" />
    <button class="text-yellow-300">
      <a href="#"> BUY NOW</a>
    </button>
  </div>
  <div
    class="flex bg-violet-900 text-white duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded-full"
  >
    <i
      class="h-6 mr-2.5 mt-2 fa-brands fa-telegram"
      src="/assets/images/coins.png"
      alt=""
    >
    </i>
    <button class="text-yellow-300">
      <a href="#"> TELEGRAM</a>
    </button>
  </div>
</div>

<div class="bg-rose-300 mt-20">
  <div class="flex justify-center">
    <img class="h-12 relative bottom-6" src="assets/cat-ears.png" alt="" />
  </div>
  <div class="container">
    <div class="row flex justify-around">
      <div class="col-6">
        <img class="h-80 relative bottom-20" src="assets/gifs/hat.gif" alt="" />
      </div>
      <div class="col-6 fair_launch">
        <p class="mt-10"></p>
        <h1 class="text-5xl font-bold text-white wiki-text stroke">
          FAIR LAUNCH
        </h1>
        <p>
          We launched for <span class="text-pink-500">everyone</span> making
          <br />
          all tokens available. Our Wiki Cat <br />
          token is available for everyone on
          <span class="text-pink-500">PancakeSwap V2</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bg-sky-300 fair_launch pb-5">
  <div class="flex justify-center">
    <img class="h-12 relative bottom-6" src="assets/cat-ears.png" alt="" />
  </div>
  <div class="container">
    <div class="row flex justify-around">
      <div class="col-6">
        <p class="mt-10"></p>
        <h1 class="text-5xl font-bold text-white wiki-text stroke">
          LIQUIDITY
        </h1>
        <br />
        <p class="font-bold">
          The liquidity pool is currently
          <span class="text-blue-500"
            >locked <br />
            (100%)</span
          >
          forevee to begin. We have <br />
          renounced contract ownership, no <br />
          dangerous function is hidden anywhere.
        </p>
      </div>
      <div class="col-6">
        <img
          class="h-80 relative bottom-20"
          src="assets/gifs/chest.gif"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="bg-green-300 fair_launch">
  <div class="flex justify-center">
    <img class="h-12 relative bottom-6" src="assets/cat-ears.png" alt="" />
  </div>
  <div class="container">
    <div class="row flex justify-around">
      <div class="col-6">
        <img
          class="h-80 relative bottom-20"
          src="assets/gifs/graphic.gif"
          alt=""
        />
      </div>
      <div class="col-6">
        <p class="mt-10"></p>
        <h1 class="text-5xl font-bold text-white wiki-text stroke">
          1% SLIPPAGE
        </h1>
        <p class="font-bold">
          We're the only token that accepts
          <span class="text-green-500"
            >1% <br />
            slippage</span
          >
          since we want to allow the <br />
          community withdraw and deposit <br />
          easily as the only token.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bg-yellow-300 fair_launch">
  <div class="flex justify-center">
    <img class="h-12 relative bottom-6" src="assets/cat-ears.png" alt="" />
  </div>
  <div class="container">
    <div class="row flex justify-around">
      <div class="col-6">
        <p class="mt-10"></p>
        <h1 class="text-5xl font-bold text-white wiki-text stroke">
          PROJECT <br />
          FUND WALLET
        </h1>
        <p class="font-bold">
          1% is added to the liquidity pool and<br />
          the team wallet allows the team to <br />
          update the website and run
          <span class="text-yellow-500"
            >marketing <br />
            promotions</span
          >
        </p>
      </div>
      <div class="col-6">
        <img
          class="h-80 relative bottom-20"
          src="assets/gifs/coin.gif"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="flex justify-center">
    <img class="h-12 relative bottom-6" src="assets/cat-ears.png" alt="" />
  </div>

  <div class="flex justify-between wiki_roadmap">
    <p class="mt-10">
      <span class="text-5xl ml-60 wiki-text text-violet-500 stroked roadmap">
        ROADMAP
      </span>
    </p>

    <img class="h-80 wiki_tail" src="assets/gifs/tail.gif" alt="" />
  </div>
</div>
<div class="container flex justify-center mb-16">
  <div class="">
    <h3 class="text-5xl ml-3 text-cyan-300 font-bold wiki-text stroked_cyan">
      PHASE 1 <br />
      <img
        src="assets/images/right_chevron.png"
        class="h-28 mt-3 bg-cyan-400 rounded-full p-1"
        alt=""
      />
      <br />
    </h3>
  </div>
  <ul class="font-bold">
    <li>
      <i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Wiki Cat Launch
    </li>
    <li><i class="fa-solid fa-check p-1.5 text-cyan-300"></i>500 holders</li>
    <li>
      <i class="fa-solid fa-check p-1.5 text-cyan-300"></i>2000 wallet
      Transacctions
    </li>
    <li><i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Website Launch</li>
    <li>
      <i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Contract auditing by
      solidity Finance
    </li>
    <li>
      <i class="fa-solid fa-check p-1.5 text-cyan-300"></i>1000 Organic Telegram
      Members
    </li>
    <li>
      <i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Creation of our
      Chinese and Turkish Community
    </li>
    <li>
      <i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Wite Paper Creation
    </li>
    <li>
      <i class="fa-solid fa-check p-1.5 text-cyan-300"></i>Road Map Creation
    </li>
  </ul>
</div>
<div class="bg-sky-400 Faq pb-5">
  <div class="flex justify-center">
    <img class="h-12 relative bottom-6" src="assets/cat-ears.png" alt="" />
  </div>
  <div class="container">
    <div class="row flex justify-center">
      <div class="col-6">
        <img class="h-60" src="assets/gifs/blink.gif" alt="" />
      </div>
      <div class="col-6">
        <p class="mt-10 text-4xl stroked_pink font-bold">
          FAQ
          <span class="text-sm stroked_yellow font-bold"
            >FREQUENTLY ASKED QUESTION</span
          >
          <br />
        </p>
        <form
          class="border-2 bg-white flex justify-between p-1 rounded-full mt-5"
          action=""
        >
          Question no1?
          <img src="assets/images/buttom_chevron.png" class="h-6" alt="" />
        </form>
        <form
          class="border-2 bg-white flex justify-between p-1 rounded-full mt-3"
          action=""
        >
          Question no2?
          <img src="assets/images/buttom_chevron.png" class="h-6" alt="" />
        </form>
        <form
          class="border-2 bg-white flex justify-between p-1 rounded-full mt-3"
          action=""
        >
          Question no3?
          <img src="assets/images/buttom_chevron.png" class="h-6" alt="" />
        </form>
      </div>
    </div>
  </div>
</div>
<div class="bg-violet-500 font-bold">
  <div class="flex justify-around pt-5 text-white">
    <a href="#" class="mt-10">CONTACT</a>
    <img class="h-24" src="/assets/images/logo.png" alt="" />
    <a href="#" class="mt-10">CHART</a>
  </div>

  <ul class="items-center flex flex-row justify-center mt-10 text-violet-900">
    <li class="mx-5 my-6 md:my-0">
      <a routerLink="/home" class="active hover:text-cyan-500 duration-500"
        >HOME</a
      >
    </li>
    <li class="mx-5 my-6 md:my-0">
      <a href="#" class="hover:text-cyan-500 duration-500">ABOUT</a>
    </li>
    <li class="mx-5 my-6 md:my-0">
      <a href="#" class="hover:text-cyan-500 duration-500">HOW TO BUY</a>
    </li>
    <li class="mx-5 my-6 md:my-0">
      <a href="#" class="hover:text-cyan-500 duration-500">LINK</a>
    </li>
  </ul>

  <div class="ml-10 flex flex-row justify-center mt-5 pb-10 text-violet-500">
    <i
      class="fa-brands fa-telegram text-sm p-1 py-0.5 px-1.5 bg-white rounded-full mb-1 mr-1"
    ></i>
    <i
      class="fa-brands fa-reddit-alien text-sm p-1 py-0.5 px-1.5 bg-white rounded-full mb-1 mr-1"
    ></i>
    <i
      class="fa-brands fa-twitter text-sm p-1 py-0.5 px-1.5 bg-white rounded-full mb-1 mr-1"
    ></i>
    <i
      class="fa-brands fa-instagram text-sm p-1 py-0.5 px-1.5 bg-white rounded-full mb-1 mr-1"
    ></i>
  </div>
  <p class="text-center text-violet-900 pb-5">
    COPYRIGHT &copy; WIKI CAT TOKEN, ALL RIGHTS RESERVED
  </p>
</div>
