.accordion {
  width: 515px;
  .accordion-body {
    display: none;
  }
  .show {
    display: block !important;
  }
}


.G1 {
  transform:translate(-164px, 116px) rotate(-27deg);
}

.e1 {
  transform: translate(-167px, 106px) rotate(-27deg);
}

.e2 {
  transform: translate(-167px, 96px) rotate(-31deg);
}

.k1 {
  transform: translate(-173px, 86px) rotate(-29deg);
}

.s1 {
  transform: translate(-175px, 76px) rotate(-24deg);
}

.f {
  transform: translate(-179px,
    61px) rotate(-17deg);
}

.o {
  transform: translate(-180px,
    52px) rotate(-14deg);
}

.r {
  transform: translate(-160px, 38px) rotate(-10deg);
}

.G2 {
  transform: translate(-160px, 34px) rotate(-10deg);
}

.e3 {
  transform: translate(-138px, 23px) rotate(-3deg);
}

.e4 {
  transform: translate(-141px, 21px) rotate(-5deg);
}

.k2 {
  transform: translate(-140px, 19px) rotate(-5deg);
}

.w1 {
transform:translate(-131px, 106px) rotate(-24deg);

}
.m1 {
  transform: translate(-136px, 79px) rotate(-27deg);
}
.a1 {
  transform: translate(-135px, 57px) rotate(-21deg);
}
.r1 {
  transform: translate(-137px, 45px) rotate(-22deg);
}
.t1 {
  transform: translate(-137px, 33px) rotate(-24deg);
}
.cd {
  transform: translate(-136px, 22px) rotate(-20deg);
}
.v1 {
  transform: translate(-134px, 15px) rotate(-16deg);
}

.x1 {
  transform: translate(-133px, 8px) rotate(-5deg);
}
  

/* An inline-block element is placed as an inline
         element (on the same line as adjacent content), 
         but it behaves like a block element  */

span {
  display: inline-block;
}
