/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Alone";
    src: local("Alone"), url(./assets/font/Alone-On-Earth.otf) format("truetype") ;
}

@font-face {
    font-family: "MyriadPro_Bold";
    src: local("MyriadPro_Bold"), url(./assets/font/MyriadPro-Bold.otf) format("truetype");
}

@font-face {
    font-family: "MyriadPro_BoldCond";
    src: local("MyriadPro_BoldCond"), url(./assets/font/MyriadPro-BoldCond.otf) format("truetype");
}

@font-face {
    font-family: "MyriadPro_it";
    src: local("MyriadPro-it"), url(./assets/font/MyriadPro-It.otf) format("truetype");
}

* {
  border: 1px solid red;
}

.bg-violet-300 {
  background-color: #a89fff !important;
}

.text-violet-500 {
  color: #6159b5 !important;
}
.bg-green-300{
  background-color: #BCF698 !important;
}
.bg-yellow-200{
      background-color: #fdff8f !important;
}
.bg-sky-300{
   background-color: #9de7f1 !important;
}